<h1>ゲーム詳細</h1>

<div class='container px-5 px-sm-0'>
  <div class='row'>
    <div class='col-md-3'>
      <%#=attachment_image_tag @game,:game_image,:fill, 60, 60, fallback: "no_image.jpg", class: "w-100 pt-5" %>
    </div>
    <div class='col-md-8 offset-md-1'>
      <table class="table">
        <tbody>
          
          <tr>
           <th>ゲームタイトル</th>
           <th><%= @game.game_title %></th>
          </tr>
          
          <tr>
        　 <th>紹介文</th>
           <th><%= @game.game_introduction %></th>
          </tr>
          
          <tr>
            <th>お勧めする点</th>
            <th><%= @game.game_recommended %></th>
          </tr>
          
          <tr>
           <th>税込価格<p>（税別価格）</p></th>
           <th> <%= @game.price %>円</th>
          </tr>
          
          <tr>
           <th></th>
           <th>
      　  　 </th>
          </tr>
          
        </tbody>
      </table>
      </div>
    </div>
  </div>
</div>